extends base

block content
    div(class="container-fluid")
        div(class="container", style="background-color: lightgrey; width: 250px; padding: 20px; margin-top: 50px; display: flex; flex-direction: column; justify-content: center;")
            div
                h3 #{process.env.APP_NAME}
            div
                form(action=`/auth/reset/${hash}/${resetToken}`, method="post")
                    div(class="mb-3")
                        input(type="password", name="password", required=true, placeholder="New password", pattern="(?=^.{8,}$)((?=.*\\d)|(?=.*\\W+))(?![.\\n])(?=.*[A-Z])(?=.*[a-z]).*$")
                    div(class="mb-3")
                        input(type="password", name="confirmation", required=true, placeholder="Confirm password", pattern="(?=^.{8,}$)((?=.*\\d)|(?=.*\\W+))(?![.\\n])(?=.*[A-Z])(?=.*[a-z]).*$")
                    div(class="mb-3")
                        button(type="submit", class="btn btn-primary") Reset password

